<!DOCTYPE html>
<html>
    <body bgcolor=#DDD8C4>
        <center>
            <h1>CROP SELECTOR</h1>

            <form method="POST", action="{{url_for('predicting')}}">
                <b> Temperature : <input type="text", name="a", placeholder="Enter temp"> <br><br>
                Humidity : <input type="text", name="b", placeholder="Enter humidity"> <br><br>
                pH : <input type="text", name="c", placeholder="Enter pH"> <br><br>
                Rainfall : <input type="text", name="d", placeholder="Enter rainfall"> <br><br></b>
                <input type="submit", value="Predict">
            </form>
        </center>

    </body>

</html>